<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>threesan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>314F580E1C7B2E9E00FE592F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314F58221C7B2E9E00FE592F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314F582D1C7B2E9E00FE592F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
